---

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";

// Filter team entries with 'draft: false' & date before current date

---


<Layout title="About">
  <Container>
    <h2 class="font-bold text-6xl text-gray-800">
      Statistical Computing &
    </h2>
    <h2 class="font-bold text-6xl text-gray-800">
      Open Source & 
    </h2>
    <h2 class="font-bold text-6xl text-gray-800">
      Community Outreach
    </h2>
    <p class="w-2/3 text-lg leading-relaxed text-slate-500">
      reasons to host:
      - largest and most established tech meetups in the Zurich greater area. 
      - Support Open Source 
      - bring together data enthusiasts to your organization
      
      
      hosting is easy
      - room for 50-200 people
      - provide an environment for networking
      - typical meetup time: 5:30-9:00
      
      
      R & Beyond
      Over the last three decades, The R Project for Statistical Computing has become a go-to software package across disciplines.
      The project's active and inclusive community is the motor behind more than 25K extension packages that propelled the R
      languages from domain specific niche tool to popular general purpose languages. Modern R applications range from
      state-of-the art statistical models and machine learning to webscrapers, APIs,
      blogs, interactive data visualization and dashboards. Give your team a chance to present their use case and open source
      enthusiasts to your organization. 
      
      - rich ecosystem, more than 25K extension
      
      
      Meet the Organizers
    </p>


 - for sho

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Are You a useR ? 
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Do you have a team of open source enthusiasts? Are you interested to point other data enthusiasts to your
        organization or simply want to support the open source community?
      </p>
      <p>
        fo shizzle.
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16 mb-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Past Hosts
      </h2>
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        
        <tbody>
            <tr>
                <td class="px-6 py-4"><a href="https://www.cynkra.com/" class="text-lg text-blue-600 hover:underline">cynkra</a></td>
                <td class="px-6 py-4"><a href="https://www.datahouse.ch/" class="text-blue-600 text-lg hover:underline">datahouse</a></td>
                <td class="px-6 py-4"><a href="http://www.ebay.ch/" class="text-blue-600 text-lg hover:underline">eBay</a></td>
                <td class="px-6 py-4"><a href="https://www.helbling.ch/" class="text-blue-600 text-lg hover:underline">Helbling Group</a></td>
            </tr>
            <tr>
                <td class="px-6 py-4"><a href="https://zurich.impacthub.ch/" class="text-blue-600 text-lg hover:underline">Impact Hub Zurich</a></td>
                <td class="px-6 py-4"><a href="https://www.microsoft.com/en-us/" class="text-blue-600 text-lg hover:underline">Microsoft</a></td>
                <td class="px-6 py-4"><a href="http://www.mirai-solutions.ch/" class="text-blue-600 text-lg hover:underline">Mirai Solutions</a></td>
                <td class="px-6 py-4"><a href="https://www.nzz.ch/" class="text-blue-600 text-lg hover:underline">Neue Zürcher Zeitung</a></td>
            </tr>
            <tr>
                <td class="px-6 py-4"><a href="https://partnerre.com/" class="text-blue-600 text-lg hover:underline">PartnerRe</a></td>
                <td class="px-6 py-4"><a href="https://www.r-consortium.org/projects/r-user-group-support-program" class="text-blue-600 text-lg hover:underline">R Consortium</a></td>
                <td class="px-6 py-4"><a href="https://www.rstudio.com/" class="text-blue-600 text-lg hover:underline">RStudio</a></td>
                <td class="px-6 py-4"><a href="https://www.sanitas.com/" class="text-blue-600 text-lg hover:underline">Sanitas</a></td>
            </tr>
            <tr>
                <td class="px-6 py-4"><a href="https://statistik.zh.ch/internet/justiz_inneres/statistik/en/home.html" class="text-blue-600 text-lg hover:underline">
                  Statistical Office Kanton Zurich</a></td>
            </tr>
    </div>
  </Container>
</Layout>
