---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";

---



<Layout title="Give a Talk">
    <Container>
      <main class="w-3/4 pt-16 pb-8 md:pt-12 md:pb-6">

        <h2 class="font-bold text-6xl text-gray-800">
          Share Your Knowledge.
        </h2>
        <h2 class="font-bold text-6xl text-gray-800">
          Inspire the Community.
        </h2>
        <h2 class="font-bold text-6xl text-gray-800">
         Submit a talk!
        </h2>
        <p class="text-lg leading-relaxed text-slate-500">
          Do you have a passion for R? A project you’re proud of? Insights into the latest tech trends? Whether you're a seasoned speaker or a first-timer, our meetup group is the perfect platform to share your ideas, grow your skills, and connect with fellow R enthusiasts.
        </p>

        <div class="grid sm:grid-cols-2 gap-10 mx-auto mt-24">
          <div class="place-self-center">
              <img src="./shoutout.svg" width="200">
          </div>
          <div class="place-self-center">
            <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight">
              Why Submit?
            </h2>
            <p class="mb-6 leading-relaxed text-slate-500">
              Gain visibility among peers, employers, and potential collaborators.
              Practice public speaking in a supportive and welcoming environment.
            </p>
            <ul>
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon class="text-black" name="simple-icons:checkmarx" />
                Build your reputation
              </li>
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon class="text-black" name="simple-icons:checkmarx" />
                Boost your career
              </li>
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon class="text-black" name="simple-icons:checkmarx" />
                Hone your skills
              </li>
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon class="text-black" name="simple-icons:checkmarx" />
                Get expert feedback 
              </li>
              
            </ul>
          </div>

          <div class="place-self-center">
            <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight">
              Still Mulling Over Submission?
            </h2>
            <p class="mb-6 leading-relaxed text-slate-500">
              Give back to the community and inspire others by sharing your knowledge.
              Get featured on our blog for even greater visibility and impact. 
            </p>
          </div>
          <div class="place-self-center">
            <img src="./thinking.svg" width="130">
        </div>

        <div class="place-self-center">
          <img src="./bulb.svg" width="150">
      </div>
      <div class="place-self-center">
        <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight">
          What We Are Looking for... 
        </h2>
        <p class="mb-6 leading-relaxed text-slate-500">
          From R packages to Shiny apps, data modelling to visualisation, and Devops to System integration.
          If you have knowledge to share, we would love to hear from you.
        </p>
        <ul>
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon class="text-black" name="simple-icons:checkmarx" />
            R integration experience
          </li>
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon class="text-black" name="simple-icons:checkmarx" />
            New R packages
          </li>
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon class="text-black" name="simple-icons:checkmarx" />
            Data visualization & reports
          </li>
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon class="text-black" name="simple-icons:checkmarx" />
            Shiny apps & dashboards
          </li>
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon class="text-black" name="simple-icons:checkmarx" />
            Statistical modelling and applications
          </li>
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon class="text-black" name="simple-icons:checkmarx" />
            Data engineering
          </li>
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon class="text-black" name="simple-icons:checkmarx" />
            Software engineering practices
          </li>
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon class="text-black" name="simple-icons:checkmarx" />
            DevOps for data science
          </li>
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon class="text-black" name="simple-icons:checkmarx" />
            . . . your ideas!
          </li>
        </ul>




      </div>
      <div class="place-self-center">
        <h2 class="text-2xl lg:text-2xl font-bold lg:tracking-tight">
          Cold Feet?
        </h2>
        <p class="mb-6 leading-relaxed text-slate-500">
          Talks can be short in length, philosophical in nature, or a means to start conversation.
          If you are unsure about submitting, reach out to us, we would love to help.
        </p>
      </div>
      <div class="place-self-center">
        <img src="./coldfeet.svg" width="130">
    </div>
        </div>


        <div class="mt-12 justify-center mb-16 flex flex-col sm:flex-row gap-3">
          <div class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200
           px-5 py-2.5 bg-black text-white border-2 border-transparent flex gap-1">
            To submit, send an email to: <u>hoi [ at ] zrug.ch</u>
            </div>
        </div>
      </main>
      </div>