---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---



<Layout title="Talk">
    <Container>
      

      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16 mb-16">
        <h2 class="font-bold text-6xl text-gray-800">
          Statistical Computing 
        </h2>
        <h2 class="font-bold text-6xl text-gray-800">
          Open Source & 
        </h2>
        <h2 class="font-bold text-6xl text-gray-800">
          Community Outreach
        </h2>
        <p class="text-lg leading-relaxed text-slate-500">
          Become our next speaker and reach a large community of open source enthusiasts in the Zurich Greater Area.
          
          - featured on the blog
          - show your work and promote your open source projects
          - get feedback from experts outside your organization
          - speaking is easy, low hurdle format
        </p>


        features: 

        - R packages
        - DevOps integration
        - Reporting
        - Automation
        - Statistical Modelling
        - Machine Learning
        - Data Management
        - Software Engineering
        - System Integration
        - data visualiztion / shiny


      </div>