---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";

---



<Layout title="Talk">
    <Container>
      

      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16 mb-16">
        <h2 class="font-bold text-6xl text-gray-800">
          Share Your Knowledge.
        </h2>
        <h2 class="font-bold text-6xl text-gray-800">
          Inspire the Community.
        </h2>
        <h2 class="font-bold text-6xl text-gray-800">
         Submit a talk!
        </h2>
        <p class="text-lg leading-relaxed text-slate-500">
          Do you have a passion for R? A project you’re proud of? Insights into the latest tech trends? Whether you're a seasoned speaker or a first-timer, our meetup group is the perfect platform to share your ideas, grow your skills, and connect with fellow R enthusiasts.
        </p>

        <img src="public/shoutout.svg" width="150">
        <img src="public/thinking.svg" width="150">
        <img src="public/bulb.svg" width="150">
        <img src="public/coldfeet.svg" width="150">

        Why you should submit
        
        Build Your Reputation: establish yourself as a thought leader in the R community.

Boost Your Career: gain visibility among peers, employers, and potential collaborators.

Hone Your Skills: practice public speaking in a supportive and welcoming environment.


More reasons to submit!

Give Back to the Community: Share your knowledge and inspire others to learn and grow.

Get valuable feedback:on your ideas from an expert community.

Exposure: get featured on our blog for even greater impact.



What we are looking for
From R packages to Shiny apps, data modelling to visualisation, and Devops to System integration.

If you have knowledge to share, we would love to hear from you.



Cold feet?

Talks can be short in length, philosophical in nature, or a means to start conversation.

If you are unsure about submitting, reach out to us, and would love to help.



FAQ

What if I need help developing my idea?

How long should my talk be?

Do I need experience speaking?

Not at all! We welcome first time speakers and can help you prepare.

Talks typically last between 20-40 minutes, but we welcome both short and longer talks.

Reach out and we will be happy to help guide you in preparing your presentation, connecting you to people in our network where necessary.


          Become our next speaker and reach a large community of open source enthusiasts in the Zurich Greater Area.
          
          - featured on the blog
          - show your work and promote your open source projects
          - get feedback from experts outside your organization
          - speaking is easy, low hurdle format

          features: 

          - R packages
          - DevOps integration
          - Reporting
          - Automation
          - Statistical Modelling
          - Machine Learning
          - Data Management
          - Software Engineering
          - System Integration
          - data visualiztion / shiny
  


        </p>


        

      </div>