---
export interface Props {
  Topic: string
  Host: string
  Speakers: string
  Slides: string
  }

  const { Topic, Host, Speakers, Slides } = Astro.props


---



<tr>
  <td scope="row" class="topic-col px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{Topic}</td>
  <td class="px-6 py-4">{Host}</td>
  <td class="px-6 py-4">{Speakers}</td>
  <td class="px-6 py-4">
    {Slides ? (
      <a href={Slides} target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:underline">Download</a>
    ) : (
      <span class="text-gray-400">Not available</span>
    )}
  </td>
</tr>



